iconnetenv
secrets.toml
__pycache__
credentials.json
RPL_CREDENTIALS.json
spreadsheet_credentials.json
credentials_firebase.json
.env
S1_Sains Data_Rizky Yanuar Kristianto_017.pdf
iconnet-intern-firebase-adminsdk.json
GOOGLE_CREDENTIALS_JSON.json
.idea
.vscode
temp